/*limpando*/
* {
	margin: 0;
	padding: 0;
}

/*estrutura site
*/

body {
	font-family: Helvetica, "Trebuchet", sans-serif;
	background: #fff url(../img/bg.png);
	margin: 15px;
}

#container {
	border: 1px solid red;
}

#topo {
	background: #dbcd87;
	height: 15.4em; /*aqui foi escolhido em para que a proporção das letras sejam iguais ao da div*/
	min-height: 250px; /*não vai passar dessa altura mínima*/
}