
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<div>
    <b></b>
</div>
<div>
    @ViewData["FuncID"]
</div>

<div>
    <b>Nome do Funcionário</b>
</div>
<div>
    @ViewData["FuncNome"]
</div>

<div>
    <b>Nome do Funcionário</b>
</div>
<div>
    @ViewData["FuncFuncao"]
</div>

